.majorLogin {
  min-inline-size: fit-content;
  display: flex;
  height: -webkit-fill-available;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
}

form {
  //background-color: gray;
  display: flex;
  flex-direction: column;
  width: 300px;
  align-self: center;
}

::ng-deep {
  // remove underline
  .mat-mdc-form-field {
    .mdc-line-ripple {
      display: none;
    }
  }

  // remove the space for conditions under input
  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }

  // remove text background inside input
  .mat-mdc-form-field-input-control.mat-mdc-form-field-input-control {
    background-clip: text;
  }

  .mat-input-element {
    color: white;
  }
}

.mat-label {
  color: rgba(255, 255, 255, 0.4);
}

.visBtn {
  visibility: hidden;
  scale: 0.8;
}

.visBtn.active {
  visibility: visible;
  scale: 0.8;
}

// hiding ms edge password eye
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

// div that contains login button
.loginHolder {
  display: flex;
  flex-direction: row;
  // align-items: center;
  position: relative;
  top: 45px;
  transition: 0.4s;
  justify-content: center;
  gap: 0.5rem;
}
.backBtn {
  scale: 1.1;
  color: #868686;
  background-color: #f1f1f1ba;
  padding-left: 0.4rem;
  width: 1.7rem;
  border-radius: 0.7rem;
  position: absolute;
}
mat-icon.mat-icon.notranslate.material-icons.mat-ligature-font.mat-icon-no-color {
  scale: 0.8;
}
.left-side,
.right-side {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.mid-side {
  flex: 0 0 auto;
  padding-inline: 0.1rem;
}
// scale up login button
.loginBtn {
  scale: 1.1;
  //width: 50%;
}

.loginBtn:disabled {
  color: gray !important;
}

.otherLinks {
  position: relative;
  top: 59px;
  text-align: center;
  transition: 0.4s;

  a {
    padding: 5px;
    //color: #13143166;
    text-decoration: none;
    cursor: pointer;
    font-size: 15px;
  }

  a:hover {
    //color: red;
    text-decoration: underline;
  }
}

// container that holds the whole popover
.popupWrapper {
  //background-color: antiquewhite;
  flex-direction: column;
  display: flex;
  width: 300px;
  align-self: center;
  position: relative;
}

// THE popover that appears when the password input is focused on account creation
.popover {
  position: absolute;
  //background-color: white;
  z-index: 1000;
  //opacity: 0;
  visibility: hidden;
  transition: left 0.4s;
  border: 0;
  border-radius: 8px;
  box-sizing: border-box;
  //box-shadow: 3px 4px 10px 0px rgb(146 146 146 / 39%);
  font-size: medium;
  width: max-content;
  display: flex;
  flex-direction: column;
  left: 100%;
  top: 22px;
  margin-left: 10px;
}

// popover arrow
.popover:after {
  content: "";
  top: 56px;
  left: -4px;
  //border-color: #c7838300 #ffffff61 #ffffff #00000000;
  position: absolute;
  width: 8px;
  height: 8px;
  background: 0 0;
  box-sizing: border-box;
  transform: rotate(135deg);
  border-style: solid;
  //box-shadow: 3px 3px 6px 0px rgb(0 0 0 / 12%);
  border-width: 4px;
  margin: 0px;
  scale: 2.2;
}

// toggling the popover visibility on and off
.popover.visible {
  opacity: 1;
  visibility: visible;
}

// the bars insides the popover
.level {
  width: 46px;
  height: 2px;
  transition: background-color 0.3s;
}

.strikethrough {
  text-decoration: line-through;
}

// container that holds the 4 bars inside the popover
.lvlContainer {
  display: flex;
  gap: 8px;
  justify-content: center;
  padding-block: 7px;
  padding-bottom: 15px;
}

// the wrapper around the text under the bars
.popoverTextWrapper {
  padding-right: 23px;
  padding-bottom: 23px;
  padding-left: 23px;
}

// div that contains the popover close
.closePopoverContainer {
  display: flex;
  justify-content: flex-end;
  padding-right: 5px;
  padding-top: 5px;
}

// close button inside the popover
.close {
  scale: 0.7;
  cursor: pointer;
}

.popoverMessage {
  margin-block: 0px;
}

.bullet {
  padding-bottom: 1.5px;
}

@media (max-width: 840px) {
  .loginHolder.active {
    top: 212px;
  }

  .otherLinks.active {
    top: 230px;
  }

  .popover {
    top: 100%;
    left: 0;
    margin-top: 10px;
    box-shadow: unset;
  }

  .popoverTextWrapper {
    padding-left: 5px;
  }

  .lvlContainer {
    visibility: hidden;
  }

  .popover:after {
    visibility: hidden;
  }

  .closePopoverContainer {
    visibility: hidden;
  }
}

.accessNotif {
  color: #000000;
  font-size: medium;
  inline-size: max-content;
  align-self: center;
  background-color: yellow;
  position: absolute;
  top: -5rem;
}
