<p>event works!</p>

<!--<ul>-->
<!--  @for (event of events; track event.id) {-->
<!--    <li>{{ event.old }}</li>-->
<!--  }-->
<!--</ul>-->
<div style="font-size: 10px">
  Originally designed by <a href="https://forum.nostalrius.org/memberlist.php?mode=viewprofile&u=38096/">henkebenke</a>
</div>
<div class="topText">
  <h1 style="font-weight: bold;text-align: center">Everlook Calendar</h1><br/>
  <div class="block_container" style="margin-bottom: 20px">
    <div> Server time is now:</div>

    <app-servertime></app-servertime>
  </div>
  <app-boss></app-boss>

  <div class="block_container" style="margin-bottom: 20px">
    <b style="font-weight: bold; margin-right: 7px;">Current ZG Edge of Madness boss:</b>
    <div id="boss"></div>
  </div>


  <a href="/zgenchants">Click here for ZG enchants</a>
</div>
