.dot {
  position: absolute;
  top: 22px;
  left: 199px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

.first .dot:not(.old .dot):before {
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  -webkit-animation: pulse-border 1.5s ease-out infinite;
  animation: pulse-border 1.5s ease-out infinite;
  content: "";
  z-index: 2;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }

  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.2);
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0)
      scale(1.2);
    opacity: 0;
  }
}

.trail {
  position: absolute;
  top: 43.5px;
  left: 207px;
  width: 3px;
  height: calc(100% - 23px);
}

.row {
  position: relative;
  width: 237px;
  padding: 26px 0 24px 179px;
  margin: 0 auto;
}

.date {
  position: absolute;
  right: 186px;
  width: 290px;
  top: 25px;
}

.subject {
  margin-bottom: 5px;
  text-align: left;
  padding: 10px 24px 10px 8px;
  border-radius: 10px;
  position: relative;
  transition: 0.4s;
  z-index: 2;
  left: 61px;
}

.old:not(.new) .subject {
  //background: #f1f1f1;
}

ul {
  padding-inline-start: unset; //remove default ul padding
}

b {
  font-weight: bold;
}

a {
  color: #333;
}

a:hover {
  color: #666;
}
.no-event {
  padding-top: 10rem;
  color: darkgray;
  justify-self: center; // this doesn't work in firefox apparently
  text-align: center;
  // padding-inline-end: 40px; // to componsate for the ul shift
}
#wrapper {
  margin: 0 auto;
  width: calc(100% - 80px);
  max-width: 800px;
}
.load-holder {
  justify-self: center;
  margin-top: 2rem;
  position: fixed;
  width: -webkit-fill-available;
}
.load-event {
  display: flex;
  justify-content: center;
}
.load-event-left {
  // padding-top: 1rem;
  position: relative;
  left: 0.3rem;
}
.load-event-right {
  // padding-top: 1rem;
  position: relative;
  right: -1rem;
}
.load-event-mid {
  gap: 0.1rem;
  display: flex;
  flex-direction: column;
}
.load-dot {
  margin-bottom: -1rem;
}
.load-trail {
  align-self: center;
  margin-bottom: -0.9rem;
}
.load-subject {
  display: flex;
  width: 16rem;
}

@media only screen and (max-width: 587px) {
  /* to make the page display correctly on phones */
  .row {
    position: relative;
    width: 240px;
    padding: 25px 0 25px 213px;
    margin: 0 auto;
  }

  .date {
    position: absolute;
    right: 180px;
    top: 25px;
  }

  .subject {
    font-size: small;
    width: 170px;
    left: 25px;
  }
  .load-holder {
    justify-self: center;
    margin-top: 2rem;
    position: fixed;
    width: -webkit-fill-available;
  }
  .load-event {
    display: flex;
    justify-content: center;
  }
  .load-event-left {
    padding-top: 1rem;
    position: relative;
    left: -1.7rem;
  }
  .load-event-right {
    padding-top: 1rem;
    position: relative;
    right: -1rem;
  }
  .load-event-mid {
    gap: 0.1rem;
    display: flex;
    flex-direction: column;
  }
  .load-subject {
    display: flex;
    width: 11rem;
  }
}
