<div [ngClass]="themeService.themeSignal()" class="configPage">

  <!--  Settings and dark mode buttons-->
  <div class="button-container-config">
    <button [matTooltip]="exitTip" mat-icon-button (click)="logout()" class="settings">
      <mat-icon>logout</mat-icon>
    </button>
  </div>

  <mat-form-field>
    <mat-label>Change the starting date</mat-label>
    <input matInput [matDatepicker]="picker"
           [min]="minDate"
           (dateInput)="dateChange($event)"
           (dateChange)="dateChange($event)" [disabled]="!configAccess">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <!--  save button  -->
  <div class="saveHolder">
    <!--    enables save when savable and configAccess are both true-->
    <button [disabled]="!configAccess || !savable" (click)="save()"
            type="submit" mat-button [disableRipple]="false"
            class="saveBtn">Save
    </button>
  </div>

</div>
