.configPage {
  min-inline-size: fit-content;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;
  // height: -webkit-fill-available;
  justify-content: center;
}

.mat-mdc-form-field {
  width: 22rem;
  align-self: center;
  margin-block: .3rem;
  position: relative;

  &[data-changed="true"]::after {
    content: ' *';
    color: red;
    font-weight: bold;
    font-size: xxx-large;
    position: absolute;
    right: -3rem;
    top: 2.2rem;
  }

}


.mat-button-toggle-group {
  position: relative;
  align-self: center;
  margin-bottom: 1.2rem;
  //color styling in style.scss
  overflow: unset;
  width: 22rem;
  gap: 0.6rem;
  border: solid 1px #5555556e;

  &[data-changed="true"]::after {
    content: ' *';
    color: red;
    font-weight: bold;
    font-size: xxx-large;
    position: absolute;
    right: -3rem;
    top: -0.2rem;
  }
}



//::ng-deep {
//  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
//    background-color: red;
//  }
//}
.saveBtn:disabled {
  //background-color: rgba(119, 119, 119, 0.11);
  //scale: 1.1;
  //width: 120%;
  //margin-top: 100px;
  //width: 70px;
}

.button-container-config {
  display: flex;
  // position: absolute;
  top: 0;
  gap: 10px;
  justify-content: end;
  padding: 0 20px 0 0;
  align-items: center;
  margin: 10px 0 0;
  flex-direction: row-reverse;
  font-size: large;
  //font-weight: bold;
  padding-bottom: 7rem;
  color: #808080;
}

//.mat-icon {
//  scale: 1.5
//}
// div that contains save button
.saveHolder {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 25px;
}

.mailButton {
  border-radius: 14px;
  padding: 6px;
  //background: #f5f5f5;
}



.mid-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-button-toggle-group {
  justify-content: center;
}

span {
  height: 14px;
  width: 2.3px;
  background-color: #808080;
  border-radius: 100px;
}

h1 {
  font-size: medium;
}

.asterisk {
  color: red;
  background-color: transparent;
}

.exitButton {
  //scale: 0.8;
}
