.configPage {
  min-inline-size: fit-content;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;
  // height: -webkit-fill-available;
  justify-content: center;
}

.mat-mdc-form-field {
  width: 22rem;
  align-self: center;
  margin-block: .3rem;
  position: relative;

  &[data-changed="true"]::after {
    content: ' *';
    color: red;
    font-weight: bold;
    font-size: xxx-large;
    position: absolute;
    right: -3rem;
    top: 2.2rem;
  }

}


.mat-button-toggle-group {
  position: relative;
  align-self: center;
  margin-bottom: 1.2rem;
  //color styling in style.scss
  overflow: unset;
  width: 22rem;
  gap: 0.6rem;
  border: solid 1px #5555556e;

  &[data-changed="true"]::after {
    content: ' *';
    color: red;
    font-weight: bold;
    font-size: xxx-large;
    position: absolute;
    right: -3rem;
    top: -0.2rem;
  }
}


.button-container-config {
  display: flex;
  // position: absolute;
  top: 0;
  gap: 10px;
  justify-content: end;
  padding: 0 20px 0 0;
  align-items: center;
  margin: 10px 0 0;
  flex-direction: row-reverse;
  font-size: large;
  //font-weight: bold;
  padding-bottom: 3rem;
  color: #808080;
}

//.mat-icon {
//  scale: 1.5
//}
// div that contains save button
.saveHolder {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 25px;
}

.mailButton {
  border-radius: 14px;
  padding: 6px;
  //background: #f5f5f5;
}



.mid-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-block: 2rem;
}

.vetting-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow: hidden;
  height: 70vh;
  scrollbar-width: thin;
  padding: 2rem;
  transition: 2.5s ease-in-out;
  // position: absolute;
  // margin-left: 6rem;
}

.vetting-section::-webkit-scrollbar {
  display: none;
}

.vetting-section:hover {
  overflow: auto;
}

.vet-holder {
  //
  display: flex;
  flex-direction: column;
  align-items: center;
  // gap: 2rem;
  // overflow: auto;
  // height: 70vh;
  // scrollbar-width: thin;
  padding: 2rem;
  position: absolute;
  margin-left: 6rem;
}

.mid-vet-holder {
  display: flex;
  // justify-content: center;
}

.user {
  padding: 10px 24px 10px 15px;
  // box-shadow: 5px 10px 20px 0 #92929245;
  border-radius: 10px;
  height: fit-content;
  min-width: 21rem;
}

.user-email {
  padding-bottom: 0.6rem;
}

.role-toggle {
  width: 13rem;
  margin-left: 1rem;
  height: 2rem;
  place-items: anchor-center;
  margin-bottom: unset;
}

.user-role-header {
  width: 5rem;
  padding: 10px 24px 10px 15px;
  border-radius: 10px;
}

.calendar-header {
  width: 7rem;
  padding: 10px 24px 10px 15px;
  border-radius: 10px;
  margin-bottom: 1rem;
}

mat-button-toggle-group {
  justify-content: center;
}

span {
  height: 14px;
  width: 2.3px;
  background-color: #808080;
  border-radius: 100px;
}

h1 {
  font-size: medium;
  text-align: center;
}

.asterisk {
  color: red;
  background-color: transparent;
}

.exitButton {
  //scale: 0.8;
}




@media only screen and (max-width: 1650px) {
  .mid-vet-holder {
    flex-direction: column;
  }

  .vet-holder {
    margin-left: unset;
  }
}

@media only screen and (max-width: 1450px) {
  .mid-vet-holder {
    flex-direction: column;
  }

  .vet-holder {
    margin-left: unset;
    position: unset;
    padding: unset;
  }

  .vetting-section {
    flex-direction: row;
    height: unset;
    width: clamp(18rem, 89vw, 77rem);
    max-width: fit-content;
  }
}
