.configPage {
  min-inline-size: fit-content;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;
  height: -webkit-fill-available;
  justify-content: center;
}

.mat-mdc-form-field {
  width: 300px;
  align-self: center;
}

//::ng-deep {
//  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
//    background-color: red;
//  }
//}
.saveBtn:disabled {
  //background-color: rgba(119, 119, 119, 0.11);
  //scale: 1.1;
  //width: 120%;
  //margin-top: 100px;
  //width: 70px;
}

.button-container-config {
  display: flex;
  position: absolute;
  top: 0;
  gap: 10px;
  justify-content: end;
  padding: 0 20px 0 0;
  align-items: center;
  margin: 10px 0 0;
  flex-direction: row-reverse;
  font-size: large;
  //font-weight: bold;
  color: #808080;
}

//.mat-icon {
//  scale: 1.5
//}
// div that contains save button
.saveHolder {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 25px;
}

.mailButton {
  border-radius: 14px;
  padding: 6px;
  //background: #f5f5f5;
}

.mat-button-toggle-checked {
  background-color: red;
}


.mat-button-toggle-group {
  align-self: center;
  //color styling in style.scss
}

span {
  height: 14px;
  width: 2.3px;
  background-color: #808080;
  border-radius: 100px;
}

.exitButton {
  //scale: 0.8;
}
