/* You can add global styles to this file, and also import other style files */
* {
  font-family: "Nunito-Light", sans-serif;
}

@font-face {
  font-family: 'Nunito-Light';
  src: url('assets/Nunito-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body {
    max-width: 500px;
    margin: auto;
  //width: auto !important;
  //overflow-x: hidden !important
}
