/* You can add global styles to this file, and also import other style files */
* {
  font-family: "Nunito-Light", sans-serif;
}
@font-face {
  font-family: 'Nunito-Light';
  src: url('assets/Nunito-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  //margin-top: -11px;
}

