.text-box {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a.linkButton {
  color: #8d8d8d;
}

.linkButton::ng-deep {

  .mat-mdc-button-ripple,
  .mdc-button__ripple {
    display: none !important;
  }
}

.mat-mdc-button {
  font-family: unset;
  font-size: unset;
  letter-spacing: unset;
  font-weight: unset;
  text-transform: unset;
  height: unset;
  border-radius: unset;
  padding: unset;
}

.topText {
  margin-top: 10px;
  text-align: center;
}

.block_container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 518px) {

  /* to make the page display correctly on phones */
  .topText {
    //position: relative;
    //width: 400px;
    //margin-top: 10px;
    //padding: 25px 0 0 50px;
  }

}


.mat-icon {
  scale: 1.5
}

.button-container {
  display: flex;
  position: fixed;
  //right: 0;
  top: 0;
  gap: 10px;
  justify-content: end;
  margin: 0;
  padding: 10px 20px 0 0;
}

.home {
  min-inline-size: fit-content;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;
}

.mode-tog {

  z-index: 2;
  transition: 1000ms;
}

.mode-tog.active {
  background-color: white;
  transition: 1000ms;
}

.container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 20px;
  top: 20px;
  width: 20px;
  height: 20px;
  z-index: -1;
}

.dark-mode {
  position: relative;
  transform: scale(0);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 550vw;
  height: 350vw;
  border-radius: 50%;
  background-color: #2d2d2d;
  transition: 500ms ease-in-out;
  display: flex;
  z-index: -1;
  flex: 0 0 auto;
}

.dark-mode.active {
  transform: scale(1);
  transition: 500ms ease-in-out;

}

.configButton {
  animation: spin 2s linear infinite;
}

.mat-button-toggle-group {
  display: flex;
  border: unset;
  border-radius: unset;
  flex-direction: column;
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}


@media screen and (max-width: 600px) {
  .dark-mode {
    width: 250vh;
    height: 350vh;
  }

  .button-container {
    transform: scale(.8);
    padding: 10px 0 0 0;
  }
}
