<div [ngClass]="themeService.themeSignal()" class="home">
  <!--  Settings and dark mode buttons-->
  <div class="button-container">
    <button
      [matTooltip]="configTip"
      mat-icon-button
      (click)="goToConfig()"
      [ngClass]="configClass"
    >
      <mat-icon>settings</mat-icon>
    </button>
    <button [matTooltip]="gotoTip" mat-icon-button (click)="scrollToToday()">
      <mat-icon>radio_button_checked</mat-icon>
    </button>
    <button
      [matTooltip]="filterTip"
      (click)="openBottomSheet()"
      mat-icon-button
    >
      <mat-icon>tune</mat-icon>
    </button>
    <ng-template #bottomSheetTemplate>
      <div class="filter-bottom-sheet">
        <div class="sheet-header">
          <h3>Toggle Events</h3>
        </div>

        <div class="sheet-content">
          <mat-button-toggle-group
            multiple
            hideMultipleSelectionIndicator="true"
            (change)="onToggleChange($event)"
          >
            <mat-button-toggle
              *ngFor="let item of this.toggleService.buttonOrder"
              [value]="item.k"
              [checked]="this.toggleService.buttonStates[item.k]"
            >
              <span class="btn-name">{{ item.n.toUpperCase() }}</span>
              <span class="btn-key">{{ item.k.toUpperCase() }}</span>
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </div>
    </ng-template>
    <button [matTooltip]="themeModTip" mat-icon-button (click)="toggleTheme()">
      <mat-icon>dark_mode</mat-icon>
    </button>
  </div>

  <!--  Dark curtain-->
  <div class="container">
    <div class="dark-mode" [class.active]="state === 1"></div>
  </div>

  <!--  Top text boxes-->
  <div class="topText">
    <h1 style="font-weight: bold; text-align: center">Turtle Calendar</h1>
    <br />

    <div class="block_container" style="margin-bottom: 20px">
      <div style="margin-right: 7px">Server time is now:</div>

      <app-servertime></app-servertime>
    </div>

    <div class="block_container" style="margin-bottom: 20px">
      <b style="font-weight: bold; margin-right: 7px"
        >Current ZG Edge of Madness boss:</b
      >
      <app-boss></app-boss>
    </div>

    <a
      mat-button
      href=""
      routerLink="/zgenchants"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      class="linkButton"
      >Click here for ZG enchants</a
    >
  </div>
  <app-event></app-event>
</div>
